<div class="container">
  <div class="row">
    <div class="detail">
    </div>
    {{#tours}}
    <div class="eleven columns">
      <div class="detail">
        {{detail}} ({{priceRub}} руб.)
      </div>
      <div class="days">
        Дней: {{days}}
      </div>
      <div class="contacts">
        Тел: {{phones}}<br/>
        Email: {{email}}
      </div>
      <hr/>
    </div>
    {{/tours}}
  </div>
</div>
