<div class="container">
<table class="u-full-width">
  <thead>
    <tr>
      <th>Полное описание</th>
      <th>Цена руб.</th>
      <th>Дата отправления</th>
      <th>Количество дней</th>
      <th>Телефон</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
      {{#tours}}
      <tr>
        <td>{{detail}}</td>
        <td>{{priceRub}}</td>
        <td>{{depart}}</td>
        <td>{{days}}</td>
        <td>{{phones}}</td>
        <td>{{email}}</td>
      </tr>
      {{/tours}}
  </tbody>
</table>
</div>
